<% include partials/header.ejs %>

<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">
        Campgrounds
      </h1>
      <hr>
      <p class="lead">Below are some of our most popular campgrounds. Or <a href="/campgrounds/new">add a new
          campground.</a></p>
    </div>
  </div>
  <div class="row">
    <% campgrounds.map(campground => { %>
    <div class="col-sm-6 col-lg-4">
      <div class="card">
        <img src="<%= campground.image %>" alt="<%= campground.name %>" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"><%= campground.name %></h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus praesentium
            tempore
            cumque at magni, sint officia a libero corporis molestiae modi. Laudantium iure dolor error pariatur magni
            doloribus ducimus quasi!</p>
          <a href="#" class="btn btn-primary">Check In</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<% include partials/footer.ejs %>
