<% include partials/header.ejs %>

<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">
        YelpCamp Home
      </h1>
      <hr>
      <p class="lead">A website where users can see, book, rate, and upload campgrounds.</p>
      <a href="/campgrounds" class="btn btn-primary">See Campgrounds</a>
    </div>
  </div>

  <% include partials/footer.ejs %>
